@mixin border-top {
  position: relative;

  &::before{
    content: '';
    height: 1px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background: #ededed;
    transform: translateY(.5);
  }
}